/* Basics */
body {
    margin: 0 !important;
    padding: 0;
    background-color: #ffffff;
}
table {
    border-spacing: 0;
    font-family: "Avenir Next", "Calibri Light", sans-serif;
    font-size: 14px;
    color: #3E3935;/* almost black */
    text-transform: none;
}
td {
    padding: 0;
}
img {
    border: 0;
}
div[style*="margin: 16px 0"] { 
    margin:0 !important;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 800px;
    margin: 0 auto;
}

.outer {
    Margin: 0 auto;
        width: 100%;
        max-width: 800px;
}

.full-width-image img {
    width: 100%;
    max-width: 800px;
    height: auto;
    color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;
}

.inner {
    padding: 20px 24px 20px 24px;
}

.contents {
    width: 100%;
}

.intro {
    padding-top: 0px;
    background-color: #FFFFFF;
}

p {
    Margin: 0;
    Margin-top: 10px;
    Margin-bottom: 10px;
}

a {
    Margin: 0;
    Margin-top: 10px;
    Margin-bottom: 10px;
    align: left;
    color: #ee6a56;
    text-decoration: none;
}

.button {
    width: 100%;
    text-align: center;
    align: center;
    padding: 10px 20px 10px 20px;
    border-style: none;
    background-color: #F8AC87; /* Peachy Orange */
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.h1 {
    text-align: left;
    font-size: 20px;
    color: #F8AC87; /* Peachy Orange */
    text-transform: uppercase;
    Margin-bottom: 5px;
    font-family: "Avenir Next", Arial, sans-serif;
}

.h2 {
    text-align: left;
    font-size: 17px;
    text-transform: uppercase;
    Margin-bottom: 10px;
    font-family: "Avenir Next", "Calibri Light", sans-serif;
}

.h3 {
    text-align: left;
    font-size: 15px;
    text-transform: uppercase;
    color: #F8AC87; /* Peachy Orange */
    Margin-bottom: 0px;
    font-family: "Avenir Next", "Calibri Light", sans-serif;

}

.list-item {
    background-color: #F8F8F8;
    padding: 10px;
}

.list-item .list-item-text {
    Margin: 0;
}

.spacer {
    height: 5px;
    background-color: #FFFFFF;
}
 
/* One column layout */
.one-column .contents {
    text-align: left;
}

.one-column .button-header {
    text-align: center;
    padding-top: 30px;
}

.one-column p {
    Margin-bottom: 10px;
}

.one-column footer {
    text-align: center;
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
}

.two-column .column {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
}

.two-column .column.shaded {
    background-color: #F8F8F8; /* light gray */
}

.two-column .contents {
    text-align: left;
}

.two-column img {
    width: 100%;
    max-width: 352px;
    height: auto;
}
.two-column .text {
    padding-top: 10px;
    text-align: left;
}

/*Media Queries*/
@media screen and (max-width: 400px) {
.two-column .column,
    .three-column .column {
        max-width: 100% !important;
    }
    .two-column img {
        max-width: 100% !important;
    }
    .three-column img {
        max-width: 50% !important;
    }
}

@media screen and (min-width: 401px) and (max-width: 620px) {
.three-column .column {
        max-width: 33% !important;
    }
    .two-column .column {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 621px) and (max-width: 800px) {
    .two-column .column {
        max-width: 50% !important;
    }
}